

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.timestamp {
    font-size: 85%;
    position:relative;
    float:right;
    display: inline;
}

.battery {
    font-size: 75%;
    position:relative;
    float: left;
    display: inline;
}
/*
.b2 {
    display: block;
}
*/
.locationLabel {
    font-size: 150%;
    text-align: center;

    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.devid {
    font-size: 85%;
    padding-top: 8px;
}
.jqstooltip {
      -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
          box-sizing: content-box;
      }
